<div class="mission" style="background-image: url('../../../assets/images/kitchen.jpg');">
    <div class="container">
        <img [src]="getAvatar()" alt="" class="avatar">
        <div class="text">
            <div class="details">Vous avez 20min devant vous pour vous consacrer au ménage 
                du salon. <br> <br> Vous pouvez soit : <br> - Prendre la décision de passer l'aspirateur,
                 qui sera plus rapide et consommant 70kWh/an <br> - Choisir la solution
                 économique de passer le balais mais qui vous prendra plus de temps. <br> <br>
                 Accomplir cette mission dans les temps vous fera gagner <span>30$</span> supplémentaires.
            </div>
        </div>
        <div class="answers">
            <a [routerLink]="['/missionFour']" routerLinkActive="active" >
                <p class="answer one" (click)="reward(30, -5)">Aspirateur</p>
            </a>
            <a [routerLink]="['/missionFour']" routerLinkActive="active" >
                <p class="answer two" (click)="reward(10, 5)">Balai</p>
            </a>
        </div>
    </div>
</div>