<nav class="navbar" role="navigation" aria-label="main navigation">
    {{refresh()}}
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="../../../assets/images/navbar-icon-bis.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="40em">
              <p class="game-name">Energeco</p>
        </a>
        <div>
          <img [src]="'../../assets/images/' + getAvatar()" class="coinBooster-img" height="100">
        </div>
        <div class="score">
            <div class="energy-border">
                <div class="energy-level" id="elevel"></div>
            </div>
            <div class="coins">
                <p>{{getCoins()}}</p>
                <img src="../../../assets/images/coins-icon.png" alt="">
            </div>
        </div>
    </div>
</nav>
