<div class="home">

        <mat-card class="text">
            Vous voulez apprendre à diminuer votre consommation <br>
            <br>énergétique quotidienne ? <br><br><br>Vous êtes au bon endroit !
        </mat-card>
        <a class="playButton" [routerLink]="['/mission']" routerLinkActive="active" >
            Play
        </a>
        <a class="shopButton" [routerLink]="['/shop']" routerLinkActive="active" >Shop</a>
        <img src="../../../assets/images/original.gif" class="homeBg">
</div>
