<div class="mission">
    <img src="../../assets/images/kitchen.gif" class="Bg">
    <div class="container">
        <img [src]="getAvatar()" class="avatar">
          <mat-card class="text">Il est 22h, il fait nuit. <br><br>
              Vous êtes dans le salon mais vous faîtes régulièrement des aller-retours
              vers la cuisine. <br> <br><br> Vaut-il mieux : <br><br> - Eteindre et rallumer la lumière de la cuisine
              chaque fois que vous y allez <br><br> - La laisser allumée et ne l'éteindre que quand
              vous êtes certain de ne plus y revenir ?
          </mat-card>
        <div class="answers">
            <a>
                <p class="answer one" (click)="reward(5, 0)">Laisser allumé</p>
            </a>
            <a>
                <p class="answer two" (click)="reward(0, 0)">Eteindre et rallumer</p>
            </a>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="box">
            <div class="text">
                <h1>Information</h1>
                Eteindre et allumée sans cesse la lumière va user la lampe plus rapidement <br>
                et diminuer considérablement sa durée de vie. <br>
                Et en même temps laisser la lumière allumée pendant un petit lapse de temps <br>
                ne consomme quasiment rien. <br>
                Il vaut mieux donc la laisser allumée le temps d'être sûr de ne plus revenir dans la pièce.
            </div>
            <a [routerLink]="['/missionTwo']" routerLinkActive="active" >
                <p class="btn-next">Suivant</p>
            </a>
        </div>
    </div>
</div>
