<div class="mission" style="background-image: url('../../../assets/images/kitchen.jpg');">
    <div class="container">
        <img src="../../../assets/images/avatar.png" alt="" class="avatar">
        <div class="text">
            <div class="details">Il est 22h, il fait nuit. 
                Vous êtes dans le salon mais vous faîtes régulièrement des aller-retours
                vers la cuisine. Vaut-il mieux éteindre et rallumer la lumière de la cuisine
                chaque fois que vous y aller ou la laisser allumée et ne l'éteindre que quand
                vous êtes certain de ne plus y revenir ?
            </div>
            <div class="answers">
                <p class="answer one">Laisser allumé</p>
                <p class="answer two">Eteindre et rallumer</p>
            </div>
        </div>
    </div>
</div>