<div class="home">

    <img src="../../../assets/images/shop2.gif" class="shopBg">
    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/coinBooster.png" class="coinBooster-img">
        <div class="shopPrice">
          100 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(100, 'coinBooster.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-hero.png" class="hero" height="100%">
        <div class="shopPrice">
          200 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(200, 'skin-hero.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-megalo.png" class="megalo" height="100%">
        <div class="shopPrice">
          300 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(300, 'skin-megalo.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-spooder.png" class="spooder" height="100%">
        <div class="shopPrice">
          400 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(400, 'skin-spooder.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-knight.png" class="knight" height="100%">
        <div class="shopPrice">
          500 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(500, 'skin-knight.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-perry.png" class="perry" height="100%">
        <div class="shopPrice">
          600 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(600, 'skin-perry.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-ninja.png" class="ninja" height="100%">
        <div class="shopPrice">
          700 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(700, 'skin-ninja.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-red-bot.png" class="redbot" height="100%">
        <div class="shopPrice">
          800 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(800, 'skin-red-bot.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-witch.png" class="witch" height="100%">
        <div class="shopPrice">
          900 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(900, 'skin-witch.png')">
        Buy
      </div>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/skin-yellow-bot.png" class="yellowbot" height="100%">
        <div class="shopPrice">
          10000 Coin
        </div>
      </div>
      <div class="buyButton" (click)="butAvater(1000, 'skin-yellow-bot.png')">
        Buy
      </div>
    </mat-card>


    <a href="#" class="homeButton">
      <div class="homeButtonContainer">

      </div>
    </a>
</div>
