<div class="home">


    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/avatar.png" class="shopImg">
        <div class="shopPrice">
          prix$$
        </div>
      </div>
      <a href="http://localhost:4200/shop">
        <div class="buyButton">
          Buy
        </div>
      </a>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/avatar.png" class="shopImg">
        <div class="shopPrice">
          prix$$
        </div>
      </div>
      <a href="http://localhost:4200/shop">
        <div class="buyButton">
          Buy
        </div>
      </a>
    </mat-card>

    <mat-card class="shopCards">
      <div class="cardContainer">
        <img src="../../assets/images/avatar.png" class="shopImg">
        <div class="shopPrice">
          prix$$
        </div>
      </div>
      <a href="http://localhost:4200/shop">
        <div class="buyButton">
          Buy
        </div>
      </a>
    </mat-card>


    <a href="#" class="homeButton">
      <div class="homeButtonContainer">
        back
      </div>
    </a>
