<div class="mission" style="background-image: url('../../../assets/images/kitchen.jpg');">
    <div class="container">
        <img src="../../../assets/images/avatar.png" alt="" class="avatar">
        <div class="text">
            <div class="details">En ouvrant votre congélateur, vous vous rendez compte <br>
                qu'il est rempli de givre. <br>
                Est-il préférable de : <br>
                - Retirer le givre car cela augmente la consommation du congélateur. <br>
                - Au contraire, le laisser car cela permet de garder la fraîcheur du congélateur <br>
                et d'ainsi consommer moins ?
            </div>
        </div>
        <div class="answers">
            <a [routerLink]="['/missionSeven']" routerLinkActive="active" >
                <p class="answer one" (click)="reward(5, 5)">Retirer le givre</p>
            </a>
            <a [routerLink]="['/missionSeven']" routerLinkActive="active" >
                <p class="answer two" (click)="reward(0, -10)">Laisser le givre</p>
            </a>
        </div>
    </div>
</div>
