<div class="mission" style="background-image: url('../../../assets/images/kitchen.jpg');">
    <div class="container">
        <img src="../../../assets/images/avatar.png" alt="" class="avatar">
        <div class="text">
            <div class="details">Il est 9h en plein hiver et vous devez partir, mais le soleil rayonne aujourd'hui. <br> <br>
                Vous préférez : <br>
               Ouvrir vos vollets et laisser le soleil chauffer la pièce <br>
                Ou fermer les vollets et laisser le chauffage en route <br> 
            </div>
        </div>
        <div class="answers">
            <a [routerLink]="['/missionSeven']" routerLinkActive="active" >
                <p class="answer one">Vollets ouvert</p>
            </a>
            <a [routerLink]="['/missionSeven']" routerLinkActive="active" >
                <p class="answer two">Vollets fermés</p>
            </a>
        </div>
    </div>
</div>
