<div class="mission" style="background-image: url('../../../assets/images/kitchen.jpg');">
    <div class="container">
        <img src="../../../assets/images/avatar.png" alt="" class="avatar">
        <div class="text">
            <div class="details">Nous sommes en hiver. Vous devez quitter votre domicile. <br> <br>
                2 choix s'offrent à vous pour conservez la chaleur : <br>
                Laisser le chauffage en mode éco (la température la
                plus basse) ou l'éteindre complètement ?
            </div>
        </div>
        <div class="answers">
            <a [routerLink]="['/missionThree']" routerLinkActive="active" >
                <p class="answer one">Laisser allumé</p>
            </a>
            <p class="answer two">Eteindre</p>
        </div>
    </div>
</div>
