<div class="mission" style="background-image: url('../../../assets/images/kitchen.jpg');">
    <div class="container">
        <img src="../../../assets/images/avatar.png" alt="" class="avatar">
        <div class="text">
            <div class="details">Votre lave-linge n'est pas entièrement rempli. <br> <br>
                Vous préférez : <br>
                Attendre les prochains jours qu'il se remplisse pour le lancer. <br>
                Ou l'envoyer en demi-charge (qui consomme moins) puis l'envoyer <br> 
                encore en demi-charge les prochains jours ?
            </div>
        </div>
        <div class="answers">
            <a [routerLink]="['/missionFive']" routerLinkActive="active" >
                <p class="answer one" (click)="reward(0, -20)">Demi-charge</p>
            </a>
            <a [routerLink]="['/missionFive']" routerLinkActive="active" >
                <p class="answer two" (click)="reward(40, 20)">Charge complète</p>
            </a>
        </div>
    </div>
</div>
